<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div id="indexBox" th:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <h1>/index.html</h1>
                <ul>
                    <li><a target="_blank" href="#" th:href="@{/_hcheck}">/_hcheck</a></li>
                    <li><a target="_blank" href="#" th:href="@{/logLevel}">/logLevel</a></li>
                    <li><a target="_blank" href="#" th:href="@{/mv/test;matrixVariable=1}">/mv/{pathVariable};a={matrixVariable}</a></li>
                    <li><a target="_blank" href="#" th:href="@{/sampleDefError}">/sampleDefError</a></li>
                    <li><a target="_blank" href="#" th:href="@{/sampleError}">/sampleError</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

